
body {
    margin: 0;
    font-family: 'Montserrat';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:  rgb(20, 23, 23);

}

.loading-container {
    text-align: center;
}

#loading-text {
    font-size: 12px;
    margin-bottom: 10px;
}

#loading-progress {
    font-size: 16px;
    color: #ffffff;
}
svg{
    height: 100%;
    width: 100%;
}




